$glob-bg: #000 !default;
$glob-fw: 400 !default;
$glob-fz: 14px !default;
$glob-lh: 1.2 !default;
$glob-ff: 'Arial', 'Halvetica', sans-serif !default;
$glob-color: #000 !default;

$glob-font: $glob-fw #{$glob-fz}/#{$glob-lh} $glob-ff;

$a1: 320px;
$a2: 360px;
$a3: 375px;
$a4: 384px;
$a5: 414px;
$a6: 425px;
$a7: 480px;
$a8: 540px;
$a9: 568px;
$a10: 576px;
$a11: 600px;
$a12: 601px;
$a13: 640px;
$a14: 667px;
$a15: 720px;
$a16: 736px;
$a17: 768px;
$a18: 800px;
$a19: 812px;
$a20: 834px;
$a21: 864px;
$a22: 900px;
$a23: 906px;
$a24: 960px;
$a25: 1024px;
$a26: 1050px;
$a27: 1080px;
$a28: 1112px;
$a29: 1152px;
$a30: 1200px;
$a31: 1280px;
$a32: 1366px;
$a33: 1440px;
$a34: 1536px;
$a35: 1600px;
$a36: 1620px;
$a37: 1800px;
$a38: 1920px;