@mixin flex($x-axis: center, $y-axis: center) {
  display: flex;
  justify-content: $x-axis;
  align-items: $y-axis;
};

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile-s {
    @media screen and (max-width: 320px) {
      @content;
    }
  }
  @else if $breakpoint == mobile-m {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
  @else if $breakpoint == mobile-l {
    @media screen and (max-width: 425px) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == laptop {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @else if $breakpoint == laptop-l {
    @media screen and (max-width: 1440px) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $breakpoint + 'px') {
      @content;
    }
  }
}

@mixin hover-reset() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}