doctype html 
html(lang="en")
  head
    include components/meta-tags
    title Title
    include components/head-links
  body
    .wrapper
      include layout/header
      main
        section
          .container
            .swiper-container
              .swiper-wrapper
                .swiper-slide Slide 1
                .swiper-slide Slide 2
                .swiper-slide Slide 3
                .swiper-slide Slide 4
                .swiper-slide Slide 5
              .swiper-pagination
            svg
              polyline(points="0,0 50,0 150,100 250,100 300,150" fill="rgb(249,249,249)" stroke-width="1" stroke="rgb(0,0,0)")
            .grid
              .grid-item Ololo
              .grid-item.grid-item--width2 aaaa
              .grid-item bbbb
          .container
            - let values = ['a', 'b', 'c'];
            - let nums = [1, 2, 3];
            ul
              each val in values
                include components/block
              else 
                li There are no values
            ul
              - for (let i = 1; i <= nums.length; i++)
                li= i
      include layout/footer
    include components/script-tags