doctype html
html(lang="en")
  head
    include components/meta-tags
    title Document
    include components/head-links
  body
    div(class="wrapper")
      include layout/header
      main
        section
          div(class="container")
            - for (let i = 0; i < 10; i++)
              include components/block
      include layout/footer
    include components/script-tags