doctype html
html(lang="en")
  head
    include components/meta-tags
    title Title
    include components/head-links
  body
    .wrapper
      include layout/header
      main
        section
<<<<<<< HEAD
          .container
            - for (let i = 0; i < 10; i++)
=======
          div(class="container")
            - for (let i = 0; i < 10; i++)
>>>>>>> dev
              include components/block
      include layout/footer
    include components/script-tags