.wrapper {
  position: relative;
  table-layout: fixed;
  overflow-x: hidden;
  display: table;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    visibility: hidden;
    transition: background-color .5s, 
    visibility .5s;
  }

  &.active {
    position: fixed;

    &::before {
      @media screen and (max-width: 960px) {
        background-color: rgba(0, 0, 0, .8);
        visibility: visible;
      }
    }

    .nav {
      @media screen and (max-width: 960px) {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}