input,
textarea {
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  padding: 12px 20px;
  background-color: #fff;
  color: $glob-color;

  &::placeholder {
    font: $glob-font;
    color: $glob-color;
  }
}

textarea {
  overflow: auto;
  resize: none;
}